body{
    background-color: #ffffff;
    display: flex;
    align-items: center;
}  

.con{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 80vh;
}

.add-post{
    width: 75%;
    height: 40vh;  
}

.name{
    color: #fff;
    background-color: #422c79;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    outline: none;
    border: 2px solid #332459;
    border-bottom: 1px solid black;
    transition: 0.1s ease;
}

.name:hover{
    opacity: 0.9;
}

.name:focus{
    opacity: 1;
}

.name::placeholder{
    color: #fff;
}

.post-input{
    resize: none;
    color: #fff;
    background-color: #6f4acd;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    outline: white;
    border: 2px solid #332459;
    border-top: none;
}

.post-input:hover{
    opacity: 0.9;
}

.post-input:focus{
    opacity: 1;
}

.post-input::placeholder{
    color:white;
}

.scroll{
    overflow-x: auto;
    width: 100%;
    position: relative;
    top: -20%;
    left: 6.3%;
    display: flex;
    justify-content: center;
}

.scroll::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar for Chrome/Safari/Opera */
}

.colors{
    display: flex;
    gap: 0.8rem;
    white-space: nowrap;
    width: max-content;
}

.colors>p{
    cursor: pointer;
    transition: 0.1s ease;
    border: 1px solid black;
}
.colors>p:hover{
    opacity: 0.7;
    border: 1px solid white;
}

.black{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.pink{
    background-color: pink;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.orange{
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.blue{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.yellow{
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.purple{
    background-color: purple;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.green{
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.red{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.brown{
    background-color: brown;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.gray{
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.post-but{
    background-color: #6f4acd;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border: 1px solid #1e1414;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    top: -19%;
}

.post-but:hover{
    background-color: #332459;
}

.posts{
    background-color: #9500ff;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 95vh;
    overflow-y: auto;
    width: 40%;
    padding: 2%;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
}

.posted{
    border: 1px solid white;
    background-color: #332459;
    font-size: 25px;
    padding: 3% 2% 0% 2%;
    margin-bottom: 10%;
}
.posted-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    color: #dfdede;
    border: none;
    font-size: 26px;
}
.posted-content{
    /* background-color: #422c79; */
    background-color: #6f4acd;
    padding: 2%;
}